@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin centralizar-img {
  display: block;
  margin: 0 auto;
}

.bg-red { background-color: #AA2020; }

a {
  &:hover { text-decoration: underline; }
}

nav {
  position: relative;
  z-index: 10;

  .nav-background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    opacity: .1;

    .back {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
  }
}

#mainimage {
  width: 128px;
  height: 128px;
  padding: 15%;
  @include  centralizar-img;
  background: url("../images/bomberman-full.png") no-repeat;
  background-size: 100%;
}

.github-corner:hover .octo-arm{
  -webkit-animation: octocat-wave .56s ease-in-out;
  animation: octocat-wave .56s ease-in-out
}

@keyframes octocat-wave {
  0%, to { -webkit-transform:rotate(0); transform:rotate(0) }
  20%, 60% { -webkit-transform:rotate(-25deg); transform:rotate(-25deg) }
  40%, 80% { -webkit-transform:rotate(10deg); transform:rotate(10deg) }
}

@-webkit-keyframes octocat-wave {
  0%, to { -webkit-transform:rotate(0); transform:rotate(0) }
  20%, 60% {-webkit-transform:rotate(-25deg); transform:rotate(-25deg) }
  40%, 80% {-webkit-transform:rotate(10deg); transform:rotate(10deg)}
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation:none;
    animation:none
  }

  .github-corner .octo-arm {
    -webkit-animation: octocat-wave .56s ease-in-out;
    animation: octocat-wave .56s ease-in-out
  }
}
